.svg-container {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    height: 16px;
}

.svg-container_language {
    display: flex;
    align-items: center;
    height: 16px;
}

.rotate {
    transform: rotate(-180deg);
}

.svg-1 {
    margin: 0 auto;
    display: block;
}

.image-container {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
