body {
    background-color: #616161;
    color:white;
    line-height:160%;
    margin:0;
    padding:0;
}

body.lightmode {
    background-color: white;
}

body div {
    color:white ;
}

body.lightmode div {
    color:rgb(0, 0, 0) !important;
}

.div_service_korean, .title{
    pointer-events:none;
}

.div_output_letters_length{
    color: black !important;
}

#svg_arrow{
    cursor: pointer;
}


.table {
    color: white;
}

.table td{
    color: white;
}

#td_answer td{
    color: #000;
}


a, span {
    color: wheat !important;
}

.svg-container {
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    height: 16px;
}


.svg-container_language {
    display: flex;
    align-items: center;
    height: 16px;
}

.rotate {
    transform: rotate(-180deg);
}

.svg-1 {
    margin: 0 auto;
    display: block;
}

.image-container {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
